# Database
DATABASE_URL="postgresql://postgres.lnidsuuvbnnkuhzcjtqt:[Tkjdcdc551011!]@aws-1-us-west-2.pooler.supabase.com:6543/postgres"

# Auth.js
NEXTAUTH_SECRET="1b8db87d333ffb482f9a0c82895e8cec"
NEXTAUTH_URL="http://localhost:3000"

# GitHub OAuth
GITHUB_CLIENT_ID="Ov23liM2k4infP9nZsLc"
GITHUB_CLIENT_SECRET="8e46eaad1d7a428160d2f446f0304e3014726910"

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://lnidsuuvbnnkuhzcjtqt.supabase.co/rest/v1/"
SUPABASE_SERVICE_KEY="sb_secret_3egDZZyFq2KkSV-ifm-1ww_dSVaoi84"
